body {
    color: blueviolet;
   background-color: blueviolet;
   margin: 0px;
}

header {
    border-bottom: solid 2px #DCDCDC (42, 122, 228);
    padding: 28px;
    fort-size: 32px
    color: rgb #DCDCDC(42, 122, 228);
    }